reporting-hub-bop-api-svc:
  image:
    tag: v4.3.0
reporting-hub-bop-settlements-ui:
  image:
    tag: v0.0.30
reporting-hub-bop-trx-ui:
  image:
    tag: v2.0.7
reporting-hub-bop-role-ui:
  image:
    tag: v1.5.10
reporting-hub-bop-positions-ui:
  image:
    tag: v0.0.16
reporting-hub-bop-shell:
  image:
    tag: v2.3.5
reporting-legacy-api:
  image:
    tag: v12.4.2
reporting-hub-bop-experience-api-svc:
  image:
    tag: v2.0.6
reporting-aggregator-svc:
  image:
    tag: v0.0.9
reporting-events-processor-svc:
  image:
    tag: v3.5.2
