_DEFINE:
  CONTINUOUS_DEPLOYMENT:
    account-lookup-service: &accountImage
      image:
        tag: v17.14.4
    als-msisdn-oracle: &alsOracleImage
      image:
        tag: v0.0.27
    central-ledger: &ledgerImage
      image:
        tag: v19.11.3
    ml-api-adapter: &adapterImage
      image:
        tag: v16.6.1
    ml-testing-toolkit: &toolkitBackendImage
      image:
        tag: v18.16.2
    ml-testing-toolkit-ui: &toolkitFrontendImage
      image:
        tag: v16.7.4
    ml-testing-toolkit-cli: &toolkitBackendCli
      image:
        tag: v1.12.0
    quoting-service: &quotingImage
      image:
        tag: v17.13.8
    sdk-scheme-adapter: &schemeAdapterImage
      image:
        tag: v24.15.2
    transaction-requests-service: &transactionRequestsImage
      image:
        tag: v14.4.6
    mojaloop-simulator: &mojaloopSimulatorImage
      image:
        tag: v15.5.0
    simulator: &simulatorImage
      image:
        tag: v12.3.3
    central-settlement: &settlementImage
      image:
        tag: v17.2.3
ml-testing-toolkit:
  ml-testing-toolkit-backend: *toolkitBackendImage
  ml-testing-toolkit-frontend: *toolkitFrontendImage
account-lookup-service:
  account-lookup-service: *accountImage
  account-lookup-service-admin: *accountImage
  account-lookup-service-handler-timeout: *accountImage
als-msisdn-oracle: *alsOracleImage
quoting-service:
  quoting-service: *quotingImage
  quoting-service-handler: *quotingImage
ml-api-adapter:
  ml-api-adapter-service: *adapterImage
  ml-api-adapter-handler-notification: *adapterImage
centralledger:
  centralledger-service: *ledgerImage
  centralledger-handler-transfer-prepare: *ledgerImage
  centralledger-handler-transfer-position: *ledgerImage
  centralledger-handler-transfer-position-batch: *ledgerImage
  centralledger-handler-transfer-get: *ledgerImage
  centralledger-handler-transfer-fulfil: *ledgerImage
  centralledger-handler-timeout: *ledgerImage
  centralledger-handler-admin-transfer: *ledgerImage
transaction-requests-service: *transactionRequestsImage
mojaloop-simulator:
  simulators:
    payerfsp: &mojaloopSimulatorConfig
      config:
        schemeAdapter: *schemeAdapterImage
        backend: *mojaloopSimulatorImage
    payeefsp: *mojaloopSimulatorConfig
    testfsp1: *mojaloopSimulatorConfig
    testfsp2: *mojaloopSimulatorConfig
    testfsp3: *mojaloopSimulatorConfig
    testfsp4: *mojaloopSimulatorConfig
centralsettlement:
  centralsettlement-service: *settlementImage
  centralsettlement-handler-deferredsettlement: *settlementImage
  centralsettlement-handler-grosssettlement: *settlementImage
  centralsettlement-handler-rules: *settlementImage
simulator: *simulatorImage
ml-ttk-test-setup: *toolkitBackendCli
ml-ttk-test-val-gp: *toolkitBackendCli
ml-ttk-test-val-bulk: *toolkitBackendCli
ml-ttk-test-setup-tp: *toolkitBackendCli
ml-ttk-test-val-tp: *toolkitBackendCli
ml-ttk-posthook-setup: *toolkitBackendCli
ml-ttk-posthook-tests: *toolkitBackendCli
ml-ttk-cronjob-tests: *toolkitBackendCli
ml-ttk-cronjob-cleanup: *toolkitBackendCli
ml-ttk-test-setup-sdk-bulk: *toolkitBackendCli
ml-ttk-test-val-sdk-bulk: *toolkitBackendCli
ml-ttk-test-val-sdk-r2p: *toolkitBackendCli
ml-ttk-test-setup-interscheme: *toolkitBackendCli
ml-ttk-test-val-interscheme: *toolkitBackendCli
ml-ttk-test-cleanup: *toolkitBackendCli
