name: Trigger GitLab Pipeline

on:
  push:
    branches:
      - main
    paths:
      - mojaloop-values-override.yaml
      - pm4ml-values-override.yaml
      - proxy-values-override.yaml
      - mojaloop-vars.yaml
      - common-vars.yaml
      - cluster-config.yaml
      - comesaTests.yaml
      - release-cd.yaml
      - onboard.yaml
      - mojaloopTest.yaml
      - mojaloopTestSync.yaml
      - mcm-values-override.yaml
      - pm4ml-vars.yaml
      - proxy-pm4ml-vars.yaml
      - finance-portal-values-override.yaml
      - pm4mlPerfTest.yaml
      - pm4mlPerfTestSync.yaml
      - portal-test.yaml
      - dev.yaml
      - kubescape.yaml

jobs:
  gitlab:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ${{ fromJson(vars.PROJECTS) }}
    steps:
      - name: Trigger Pipeline in ${{ matrix.project.name }}
        env:
          GITLAB_TOKEN: ${{ secrets[matrix.project.secret] }}
        run: |
          curl -X POST \
            -F token=$GITLAB_TOKEN \
            -F ref=main \
            -F "variables[CD_UPDATE_PROFILE]=true" \
            -F "variables[CD_MESSAGE]=${{ github.event.head_commit.message }}" \
            -F "variables[CD_COMMIT_URL]=${{ github.event.head_commit.url }}" \
            ${{ matrix.project.url }}
